<div class="overflow-x-auto relative">
    <table *ngIf="weatherData" class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6">

                </th>
                <th scope="col" class="py-3 px-6">
                    weatherapi
                </th>
                <th scope="col" class="py-3 px-6">
                    openweatherapi
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="py-3 px-6">
                    Avg temp
                </th>
                <td ng-if="weatherData" scope="row"
                    class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{weatherData.weatherapi.current.temp_c}}
                </td>
                <td class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{((weatherData.openweatherapi.main.temp) -273.15).toFixed(1)}}
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="py-3 px-6">
                    Precipitation (millimeters)
                </th>
                <td ng-if="weatherData" scope="row"
                    class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{weatherData.weatherapi.current.precip_mm}}
                </td>
                <td class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{weatherData.openweatherapi.weather[0].description}}
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="py-3 px-6">
                    Wind speed
                </th>
                <td ng-if="weatherData" scope="row"
                    class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{weatherData.weatherapi.current.wind_kph}}
                </td>
                <td class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{weatherData.openweatherapi.wind.speed}}
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="py-3 px-6">
                    Humidity
                </th>
                <td ng-if="weatherData" scope="row"
                    class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{weatherData.weatherapi.current.humidity}}
                </td>
                <td class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{weatherData.openweatherapi.main.humidity}}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="w-full max-w-xs">
        <form [formGroup]="weatherSearchForm" (ngSubmit)="requestAPI(weatherSearchForm.value)"
            class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="form-group">
                <input class="form-control" type="number" id="weatherLocation" aria-describedby="weatherLocation"
                    placeholder="Latitude" autocomplete="on" formControlName="latitude" />
            </div>
            <div class="form-group">
                <input class="form-control" type="number" id="weatherLocation" autocomplete="on"
                    aria-describedby="weatherLocation" placeholder="Longitude" formControlName="longitude" />
            </div>
            <div>
                <button type="submit"
                    class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                    Fetch
                </button>
            </div>
        </form>
    </div>
</div>